*{
    margin: 0;
    padding: 0;
    
}
html,body{
    width: 100%;
    height: 100%;

}
#main{
    width: 100%;
    height: 100%;
   
    display: flex;
}
#left{
    width: 40%;
    height: 100%;
  position: relative;
    display: fixed;
}
#right{
width: 60%;
height: 100%;
background-color: azure;
}
#righttop{
    display: flex;
    width: 100%;
    height: 50%;
   background-image: url(https://images.unsplash.com/photo-1547514701-42782101795e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGZydWl0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
   background-size:cover;
  
   background-position: center;

}
#rightbottom{
    width: 100%;
    height: 50%;
    background-image: url(https://media.istockphoto.com/id/1398499128/photo/fire-flame-abstract-lava-volcano-eruption-background-amber-triangle-rhombus-diamond-circle.jpg?b=1&s=170667a&w=0&k=20&c=pZlb-cP1e_udDimUcTx7NragbE_Ma9KiG4zPBpF5_SQ=);
    background-size:cover;
  
   background-position: center;
}
#rleft{
 width: 55%;
 height: 100%;
 background-image: url(https://images.unsplash.com/photo-1557800636-894a64c1696f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80);
background-size: cover;
background-position: center;
}

#rright{
    width: 45%;
    height: 100%;
  
   }
#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 5px;
}
#lnavr a{
margin-left: 20px;
text-decoration: none;
color: black;
font-weight: 600;
font-size: 14px;
}
#lnavr a i{
    color: royalblues;

}
#main #left #textcenter {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
}
#main #left #textcenter h1{
    font-size: 80px;
    font-weight: 900;
}
#main #left #textcenter p{
    font-size:12px ;
    opacity: .6;
    line-height: 15p;
    margin-top: 20px;
    margin-bottom: 20px;
}
#main #left #textcenter a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600 ;
    opacity: .6;
}
@media(max-width: 500px){
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    }
    #main #right{
        width: 100%;
    }
}